h1 {
  background-color: orange;
  text-align: center;
}
h3 {
  color: aliceblue;
}
#main {
  background-color: rgb(247, 240, 251);
  background-image: url(./backg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#body-title {
  text-align: center;
}

#body-subtitle {
  text-align: center;
}

#film-container img {
  flex: 0 1 auto;
  height: 150px;
  margin-right: 0.5rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(198, 64, 64, 0.2);
  max-width: 700px;
  margin: auto;
  text-align: center;
  background-color: white;
}
#film-image {
  height: 75;
  width: 75;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav .film-list {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  cursor: pointer;
  word-break: break-al;
}

.sidenav .film-list:hover {
  color: orange;
}

button {
  background-color: orange;
  color: black;
}
